################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/naveenG/task4/.vs/ConsoleApp1/FileContentIndex/e8320145-10a0-4346-9e45-9be8cb67fbde.vsidx
