################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Prakash/ContactBook_1/.vs/ContactBook_1
/Prakash/ContactBook_1/ContactBook_1/bin/Debug
/Prakash/ContactBook_1/ContactBook_1/obj
/Prakash/ContactBook_1/ContactBook_1/Properties
