################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Harivigneshkumar/ContactBook Task-C#/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/read.lock
/Harivigneshkumar/ContactBook Task-C#/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex
/Harivigneshkumar/ContactBook Task-C#/ConsoleApp1/ConsoleApp1/obj/project.nuget.cache
/Harivigneshkumar/ContactBook Task-C#/ConsoleApp1/ConsoleApp1/obj/project.assets.json
/Harivigneshkumar/ContactBook Task-C#/ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.targets
/Harivigneshkumar/ContactBook Task-C#/ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.props
/Harivigneshkumar/ContactBook Task-C#/ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
/Harivigneshkumar/ContactBook Task-C#/ConsoleApp1/ConsoleApp1/obj/Release/netcoreapp3.1/ConsoleApp1.GeneratedMSBuildEditorConfig.editorconfig
/Harivigneshkumar/ContactBook Task-C#/ConsoleApp1/ConsoleApp1/obj/Release/netcoreapp3.1/ConsoleApp1.csproj.AssemblyReference.cache
/Harivigneshkumar/ContactBook Task-C#/ConsoleApp1/ConsoleApp1/obj/Release/netcoreapp3.1/ConsoleApp1.assets.cache
/Harivigneshkumar/ContactBook Task-C#/ConsoleApp1/ConsoleApp1/obj/Debug/netcoreapp3.1/ConsoleApp1.GeneratedMSBuildEditorConfig.editorconfig
/Harivigneshkumar/ContactBook Task-C#/ConsoleApp1/ConsoleApp1/obj/Debug/netcoreapp3.1/ConsoleApp1.csproj.AssemblyReference.cache
/Harivigneshkumar/ContactBook Task-C#/ConsoleApp1/ConsoleApp1/obj/Debug/netcoreapp3.1/ConsoleApp1.assets.cache
/Harivigneshkumar/ContactBook Task-C#/ConsoleApp1/ConsoleApp1/obj/Debug/netcoreapp3.1/apphost.exe
