body
{
    background-color: rgb(252, 252, 238);
}

#sportslogo
{
    width: 300px;
    margin-top: -71px;
    position:absolute;
}

h1
{
    text-align: center;
    font-family: Calibri;
    margin-top: 10px;
    font-size: 60px;
    color: rgb(29, 173, 16);
    text-shadow: 3px 4px 4px rgb(130, 27, 161);
}

table,th,tr,td
{
    font-size: 20px;
    text-align: center;
    width: max-content;
    border: 4px solid rgb(219, 226, 228);
    border-collapse: collapse;
}

tr:hover
{
    background-color: #e6eded;
}

#header:hover
{
    background-color: #c4e9e9;
}

input
{
    height: 30px;
    width: 231px;
    margin-left: 80%;
    margin-top: 4px;
    position: fixed;
}

#editimage,#deleteimage
{
    width: 30px;
    height: 30px;
}

#editimage
{
    margin-left: 94.4%;
    margin-top: 4px;
    position: fixed;
}

#deleteimage
{
    margin-left: 96.4%;
    margin-top: 1.8px;
    position: fixed;
}