*{
  font-size: 20px;
}
img{
  width: 400px;
  margin-top: 1px;
  left:25px;
  position:absolute;
}
h1{
  text-align: center;
  margin-top: 10px;
  font-size: 60px;
  color: rgb(29, 173, 16);
  text-shadow: 3px 4px 4px rgb(130, 27, 161);
  position: relative;
}
form{
  font-size: 30px;
  margin-left:5%;
}
label{
  font-size: 30px;
}

body{  
    font-family: Calibri;
    background-color: rgb(252, 252, 238);
  }  
#reset{
  background-color: rgb(232, 198, 245);
  margin-left: 33%;
  width:max-content;
  height: max-content;
  padding: 1%;
  border-color:none;
  color: rgb(0, 0, 0);
}
#submit{
  background-color: rgb(232, 198, 245);
  margin-left: 37%;
  width:max-content;
  height: max-content;
  padding: 1%;
  border-color:none;
  color: rgb(0, 0, 0);
}
#cancel{
    background-color:rgb(232, 198, 245);
    margin-left: 36%;
    width:max-content;
    height: max-content;
    padding: 1%;
    border-color:none;
    color: rgb(0, 0, 0);
}
textarea,select {  
    padding: 15px;
    background: white;
}
table,tr,th{
  padding: 15px;
}
table{
  border-color: black;
}
select{
  width: min-content;
}
#fname,#mname,#lname,#mobile,#address,#email{
    width: 400px;  
    padding: 15px;
    background: white; 
}
#border{
  width: 1000px;
  height: 1050px;
  margin-left: 21%;
  border: 5px solid rgb(0, 0, 0);
}
#reset:hover{
  transform: scale(1.2);
}
#submit:hover{
  transform: scale(1.2);
}
#cancel:hover{
  transform: scale(1.2);
}