*
{
  font-size: 20px;
  font-family: Calibri;
}
#sportslogo
{
  width: 300px;
  margin-top: -65px;
  position:absolute;
}
h1
{
  text-align: center;
  margin-top: 10px;
  font-size: 60px;
  color: rgb(29, 173, 16);
  text-shadow: 3px 4px 4px rgb(130, 27, 161);
}
form
{
  font-size: 30px;
  margin-left:5%;
}
label
{
  font-size: 20px;
}
textarea
{
  resize: none;
}

body
{
  background-color: rgb(252, 252, 238);
}
#detailpage
{
  position: fixed;
  width: 200px;  
}
#detailpage:hover
{
  transform: scale(1.1);
}
#reset
{
  background-color: rgb(232, 198, 245);
  margin-left: 20%;
  width:max-content;
  height: max-content;
  padding: 1%;
  border-color:none;
  color: rgb(0, 0, 0);
}
#submit
{
  background-color: rgb(232, 198, 245);
  margin-left: 15%;
  width:max-content;
  height: max-content;
  padding: 1%;
  border-color:none;
  color: rgb(0, 0, 0);
}
#cancel
{
    background-color:rgb(232, 198, 245);
    margin-left: 20%;
    width:max-content;
    height: max-content;
    padding: 1%;
    border-color:none;
    color: rgb(0, 0, 0);
}
table,tr,th
{
  padding: 8px;
}

#fname,#mname,#lname,#mobile,#address,#email
{
  width: 250px;
  height: 38px; 
  padding: 15px;
  background: white;   
}
#nameofcourt
{
  margin-left: -90px;
  height: 35px;
  width:160px;
  border: 2px solid black;
  text-align: left;
}
#dateofregistration
{
  margin-left: -90px;
  border: 2px solid black;
}
#address
{
  height: 100px;
  border: 2px solid black;
}
#border
{
  width: 450px;
  height: 670px;
  margin-left: 35%;
  background-color: rgb(243, 242, 235);
  border: 5px solid rgb(243, 242, 235);
}
#reset:hover
{
  transform: scale(1.2);
}
#submit:hover
{
  transform: scale(1.2);
}
#cancel:hover
{
  transform: scale(1.2);
}
#fname:hover,#mname:hover,#lname:hover,#nameofcourt:hover,#dateofregistration:hover,#mobile:hover,#address:hover,#email:hover
{
  background-color: rgb(232, 241, 245);
}
#fname:focus,#mname:focus,#lname:focus,#nameofcourt:focus,#dateofregistration:focus,#mobile:focus,#address:focus,#email:focus
{
  background-color: rgb(232, 241, 245);
}