*{
	margin: o;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}body,html{
	background-color:#FEF8DD;
	background-size: cover	;
	background-repeat: none;
}.header{
	background-image: linear-gradient(#033747,#012744);
	width: 100%;
	position: fixed;
	z-index: 100;
}.menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
}.menu ul li{
	float: left;
	margin: 20px; 
    list-style: none; 
}.menu ul li a{
	font-size: 15px;
    color: white;
    text-transform: uppercase;
	padding:10px;
    text-decoration: none;
    cursor: pointer;
}.menu ul li a:hover{
	color: #FFA500;
	transition: all 0.4s ease 0s;
}.logo{
    display: inline-flex;
    margin-left: 30px;
}.logoimg{
	margin-top: 100px;
	width: 20%;
}.sn h2{
	margin: 100px;
	width: 100%;
    font-size: 80px;
    background: radial-gradient( #dba514, #eeb609, #b78628,#c69320);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}.sn span{
	text-align: center;
	font-size: 32PX;
}.oplogo{
	display: inline-flex;
	margin-left: 30px;
}.oplogoimg{
	width: 20%;
}.opsn h2{
	width: 100%;
	font-size: 50px;
	background: radial-gradient(#dba514, #eeb609, #b78628,#c69320);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	text-align: center;
    font-family: 'Dancing Script', cursive;
	margin-left: 160px;
}.opsn span{
	text-align: center;
	font-size: 22PX;
}.register{
	text-align: center;
    font-size: 20px;
}

/*intex page*/
.form{
	border: 2px solid #233;
	width: 120vh;
    height: auto;
	margin-left: 40vh;
	margin-bottom: 120px;
    background-color: lightblue;
    border-radius: 30px;
    color: darkblue;
	box-shadow: 10px 25px 40px 0px rgba(0,0,0,1);
}form:hover{
	transition: 0.3s; 
	transform: scale(1.001);
}.std label{
	font-size: 25px;
	text-align: left;
	margin-left: 15vh;
}.std {
	font-size: 20px;
	border-radius: 50px;
	margin-left: 20vh;
}.std1{
	width: 180px;
	margin-left: 18vh;
}.sec{
	width: 180px;
	margin-left: 14vh;
}.medium{
	margin-left: 23vh;
}.bldgb{
	width: 180px;
	margin-left: 20.2vh;
}.mrf{	
	width: 180px;
	margin-left: 26vh;
}h1{
	font-size: 35px;
	text-align: left;
	margin-left: 80px;
}.pi label{
	font-size: 25px;
	margin-left: 35vh;
}
.pi input{
	font-size: 20px;
	border-radius: 5px;
	background-color: transparent;
	color:darkblue;
	height: 35px;
	outline: none;
	border-color: transparent;
	border-bottom: 1px solid rgb(0, 0, 0);
	text-align: center;
}.fn1 input{
	margin-left: 170px ;
}.mn input{
	margin-left: 155px ;
}.ln input{
	margin-left: 173px;
}.dob input{
	width: 25vh;
	margin-left: 148px;
}.age input{
	margin-left: 235px ;
}.fan input{
	margin-left: 140px ;
}.man input{
	margin-left: 130px ;
}.bg input{
	margin-left: 165px ;
}.pi input::placeholder{
	font-size: 12px;
	text-align: center;
	color:rgb(54, 145, 176);
}select{
	font-size: 20px;
	border-radius: 50px;
	color: darkblue;
	margin-left: 30vh;
	text-align: center;
}.address input{
    font-size: 20px;
	border-radius: 5px;
	background-color: lightblue;
	height: 35px;
	outline: none;
	border-color: transparent;
	border-bottom: 1px solid rgb(0, 0, 0);
	text-align: center;
	color: darkblue;
}.address label{
	font-size: 25px;
	margin-left: 35vh;
    text-align: left;
}.a input{
	margin-left: 160px ;
}.b input{
	margin-left: 160px ;
}.c input{
	margin-left: 260px ;
}.d input{
	margin-left: 230px ;
}.e input{
	margin-left: 255px ;
}.f input{
	margin-left: 220px ;
}.g input{ 
	margin-left: 145px ;
    font-size: 13px;
    display: inline-block;
    cursor: pointer;
}.h{
	width: 85px;
	transform:translateX(-150px);
	
}.address div input::placeholder{
    font-size: 15px;
	text-align: center;
	color:rgb(54, 145, 176);
}.btn1 button{
	width: 10%;
	height: 30px;
	border-radius: 20px;
	background: green;
	border: none;
	cursor: pointer; 
	margin-left: 55vh;
	margin-bottom: 50px;
	margin-top: 150px;
}.btn1 span{
	color: white;
	font-size: 15px;
	background-color: transparent;
}.btn1 :hover{
	
	transform: translate3d(0px, 2px, 2px);
	box-shadow: 0 5px 16px 0 rgba(0,0,0,0.24);
}.btn2 button {
		width: 10%;
	height: 30px;
	border-radius: 20px;
	background: red;
	border: none;
	cursor: pointer; 
	margin-left: 55vh;

	margin-bottom: 50px;

}.btn2 span{
	color: white;
	font-size: 15px;
	background-color: transparent;
}.btn2 :hover{
	transform: translate3d(0px, 2px, 2px);
	box-shadow: 0 5px 16px 0 rgba(0,0,0,0.24);
}.thankbody{
	
	background-color: white;
	height: 70vh;
}.thank
{
	margin-left: 70vh;
	margin-top: 230px;
}
/* output page*/
.oppage{
	margin:20px;
	height: 17vh;
    background-color:#FEF8DD;
    font-family: 'Darker Grotesque', sans-serif;
}.opbtn{
	font-size: 20px;
}.opsn h2{
	margin-left: 20vh;
}.oplogoimg{
	margin: 10px;
}.oppage_text{
	margin-top: 20px;
}.delete {
    margin-top : -30px;
    float: right;
	font-size: 30px;
	width: 3%;
	background-color: transparent ;
    border: none;
	cursor: pointer; 
}.delete span:hover{
    color: red;
}.text{
	font-size: 30px;
	width: 50%;
}.table{
	text-align: left;
	font-size: 20px;
	width: 100%;
    border-collapse: collapse;
    border: 2px solid #ddd ;
}.tr{
	border-bottom: 2px solid #ddd;
}.optable{
    border-bottom: 1px solid #ddd;
}.optable td{
	text-align: left;
    width: 10px;
}.optable:hover{

}.selected{
	background-color:#B8E2F2;
	z-index: 1;
}.select2{
	background-color: yellow;
}.select3{
	background-color:#B8E2F2;
}.tc{
	width: 10px;
}

/*home page*/
.homepage{
	background-image: url("../images/img.jpg");
	height: 100vh;
	border: 4px solid #666;
	margin: 0;
	padding: 0;
}.homelogo{
	margin: 100px;
}.homelogo h2{
    margin: 100px;
    margin-left: 1px;
	width: 100%;
    font-size: 110px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    background: radial-gradient(  #fcc201,#EEB609, #DBA514, #C69320,#B78628);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}.sn1 span{
	text-align: center;
	font-size: 32PX;
}.homelogoimg{
    margin-top: -60px;
	margin-left: 68vh;
	width: 40%;
}.homebtn {
	border: none;
    margin-left: 80vh;
	border-radius: 20px;
	margin-bottom: 180px;
}.homebtn1{
    background-color: goldenrod;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
}.homebtn :hover{
	transform: translate3d(-2px, -2px, -2px);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}.oppage_text{
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
}


/*login page*/

.form1{
	margin-left: 75vh;
}.form-container{
	width: 40vh;
	height: 60vh;
	background-color: rgb(240, 224, 224);
	border-radius: 30px;
}.form-container:hover{
	color: #04619F;
	box-shadow: 20px 15px 30px 0px rgba(0,0,0,5);
	transition: 0.3s; 
	transform: scale(1.01);
}.icon{
	font-size: 108px;
	margin: 20vh 15vh;
}.newuser{
	margin-left: 21vh;
	font-size: 25px;
}.newuser a i:hover{
	transform: scale(1.1);
}.input-box{
	font-size:25px;
	margin-top: -190px;
	margin-left: 40px;
}.input-box label{
	color: green;
	font-size: 20px;
}.input-box input{
	border: none;
	outline: none;
	background-color: transparent;
	border-bottom: 1px solid black;
	margin-left: 20px;
	margin-top: -25px;
	font-size: 22px;
	text-align: center;
}.input-box input::placeholder{
	font-size: 13px;
	text-align: center;
}.input-box h4{
	font-size: 13px;
	margin-left: 45px;
	margin-top: -19px;
}.input-box h3{
	font-size: 13px;
	margin-left: 240px;
	margin-top: -20px;
	cursor: pointer;
}.btnlogin{
	font-size: 15px;
	height: 30px;
	width: 100px;
	margin-left: 40%;
	margin-top: 10%;
	background-color:#04619F;
	border-radius: 20px;
}.btnlogin:hover{
	background-color:  #000000;
}.btnlogin span{
	color: white;
}.checkbox{
	margin-top: 10%;
	margin-left: -15px;
}.thank{
	margin-top: 100px;
}.thank h2{
	font-size: 100px;
	background: radial-gradient( #dba514, #eeb609, #b78628,#c69320);
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
	font-family: 'Dancing Script', cursive;
	margin-left: -370px;
}
	



