*{
    margin: 0px;
    padding: 0px;
    line-height: 1.5;
}
body{
    background-image: url(/Web/admin_project/img/g2.jpg);
}
.head1{

    width:vw ;
    height:vh;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    font-family: 'Segoe UI', Tahoma;
    font-style: italic;
    font-weight: bolder;
    font-variant: small-caps;
    font-feature-settings: "fina";
    text-decoration: underline;
    text-underline-offset: 5px;


}
.content{
    font-family: sans-serif;
    font-style: oblique 20deg 50deg;
    align-items: center;

    justify-content: center;
    display: flex;
    display: block;
    padding-right: 20px;
}

.output{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;

}
.note{
    font-style: italic;
    padding-right: 10px;

}
.opt_main{
    width: vw;
    display: block;
    justify-content: center;
    align-items: end;

}
.bar{
    display: flex;
    justify-content: center;
    align-items: center;

}
.check{
    padding:0px 20px;
}
.button1,.button2,.button3{
    margin-top: 6px;
    margin-right: 5px;
    padding:2px 15px;
    background-image: url(/Web/admin_project/img/delete.jpg);
}
.back{
    margin-top: 6px;
    margin-right: 5px;
    padding:2px 15px;
    background-image: url(/Web/admin_project/img/g5.jpg);
    margin-bottom: 10px;

}



.options{
    border-top: 2px;
    padding: 5px;
    width: vw;
    height: 75px;
    display: block;
    border: 2px;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}
table{
    margin-top: 5px;
    background-image:url(/Web/admin_project/img/g5.jpg);
    width: 70%;
    height: 100px;
    padding:5px 5px;
    border-collapse: collapse;
    border-spacing: 5px;
    justify-content: center;
}
td{
    
    justify-content: center;
    align-items: center;


    padding: 15px;
}
th{
    justify-content: center;
    height: 50px;
}
hr{
    border-top: 2px dashed red;

}

