*{
    margin: 0px;
    padding: 0px;
    line-height: 1.5;
}
body
{
    background-image: url(img/g2.jpg);
}
.header
{
    background-image: url(img/g3.jpg);
    height: 130px;
    font-family: 'Segoe UI', Tahoma;
    font-weight: 900;
    font-style: italic;
    font-weight: bolder;
    font-variant: small-caps;
    font-feature-settings: "fina";
    display: flex;
    text-align: center;
    padding-top: 40px;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color:  rgb(90, 255, 98);
}
.logobanner
{
    margin-left: 2%;
    height: 100px;
    border-radius: 30%;
    opacity: 40%;
}
img
{
    object-fit: cover;
}
h1
{
    font-size: 28px;
    padding-left: 35%;
}
.navbar
{
    background-color: rgb(195, 195, 195);
    min-height: 10px;
    display: flex;
    align-items: center;
}
li
{
    display: flex;
    width: 20px;
    padding:5px;
}
.home_btn
{
    padding-left: 10px;
}
.btn{
    padding-left: 82%;
}
.nav_btn
{
    justify-content: center;
    background-color: rgb(195, 195, 195);
    border: 2px solid;
    border: unset;
    cursor: pointer;
}
.nav_btn:hover
{
    border-radius: 20%;
    border: 1px solid rgba(139, 133, 133, 0.596);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
input{
    padding-left: 8px;
}
.content
{
    font-family: sans-serif;
    font-style: oblique 20deg 50deg;
    align-items: center;
    justify-content: center;
    display: flex;
    display: block;
    padding-right: 20px;
}
.output
{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
table
{
    margin-top: 5px;
    width: 70%;
    height: 100px;
    padding:0.75% 2%;
    border-collapse: collapse;
    border-spacing: 5px;
    justify-content: center;
}
td
{    
    justify-content: center;
    align-items: center;
    padding: 15px;
}
th
{
    justify-content: center;
    height: 50px;
}
hr
{
    border-top: 2px dashed red;
}
tr:hover{
    background-color: white;
}