.BackgroundEmployee{
    background-image:url('bg.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
h1 {
    position: fixed;
    background-color: rgb(194, 218, 232);
    padding: 2% 84% 7.5% 0%;
    left: 0px;
    right:-1px;
    top:-23px;
    border-bottom:3px solid rgb(6, 6, 6);
}
h2 span{
    margin-top:-6vh;
    margin-left:-70vh;
    position:fixed;
    font-size:6vh;
}
.View{
    margin-left:165vh;
    margin-top:-10vh;
    font-size: 20px;
    cursor:pointer;
    font-family:fantasy;
    position:fixed;
    padding-right:3vh;
    padding-left:3vh;
    padding-top:2vh;
    padding-bottom:2vh;
    z-index: 1;
    background-color: aqua;
}
.View:hover {
    background-color: rgb(255, 255, 255);
}
h2 {
    padding-top:9vh;
    margin-left:5vh;
    text-align:center;
    font-size:4vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3 {
    padding-top:9vh;
    text-align:center;
    font-size:4vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p {
    text-align:center;
    font-size:3vh;
    padding-bottom:5vh;
    font-weight:bold;
}
form {
  
    padding-top:8vh;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(194, 218, 232);
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
    border-radius: 10px;
    margin-left:50vh;
    padding-left:20vh;
    padding-right: 5vh;
    position:absolute;
    z-index: -1;
}
.resume input{
    margin-left:18vh;
}
.fname input{
    margin-left:20.5%;  
    box-shadow:4px 3px 3px 0px;
    border-radius:1vh;
}
.lname input{
    margin-left:22.5%;
    box-shadow:4px 3px 3px 0px;
    border-radius:1vh;
}
.dob input{
    margin-left:38.5%;   
    width:34%;
    text-align:center;
    box-shadow:4px 3px 3px 0px;
    border-radius:1vh;
}
.contact input{
    margin-left:27.5%; 
    box-shadow:4px 3px 3px 0px;
    border-radius:1vh;
}
.address textarea{
    margin-left:28%; 
    box-shadow:4px 3px 3px 0px;
    border-radius:1vh;
}
.gmail input{
    margin-left:34%; 
    box-shadow:4px 3px 3px 0px;
    border-radius:1vh;
}
.gender select{
    margin-left:19vh;
    width:34%;
    text-align:center; 
    box-shadow:4px 3px 3px 0px;
    border-radius:1vh;  
}
.qualification select{
    margin-left:13%;
    width:35%;
    text-align:center;  
    box-shadow:4px 3px 3px 0px;
    border-radius:1vh; 
}
.department select{
    margin-left:17.5%;
    text-align:center;
    width:35%;
    box-shadow:4px 3px 3px 0px;
    border-radius:1vh;
}
.state input{
    margin-left:35.5%;
    box-shadow:4px 3px 3px 0px;
    border-radius:1vh;  
}
.city input{
    margin-left:39.5%;
    box-shadow:4px 3px 3px 0px;
    border-radius:1vh;  
}
img {
    position:fixed;
    width:7%;
    top:3vh;
    left:15vh;
}
.submit {
    cursor: pointer;
    margin-left:19vh;
    margin-bottom:10px;
    font-family:fantasy;
    font-size:2.5vh;
}
.submit:hover{
    background-color:rgb(0, 229, 255);
}
.deletebutton {
    margin-left:30vh;
    margin-top:10vh;
    border:2px solid rgb(0, 0, 0);
    font-size:3vh;
    cursor: pointer;
    font-family:fantasy;
    letter-spacing: 2px;
    background-color: aqua;
}
.deletebutton:hover {
    background-color:rgb(255, 255, 255);
}
.ind {
    margin-left:30vh;

}
.finalbuttons {
    border:2px solid rgb(0, 0, 0);
    position:fixed;
    padding: 2% 1% 1% 0%;
    left: 0px;
    right:-1px;
    top:-135px;
    background-color:rgb(194, 218, 232);
    box-shadow:0px 0px 1px 1px;

}
.editbutton {
    margin-left:55vh;
    margin-top:20vh;
    font-size:3vh;
    border:2px solid rgb(0, 0, 0);
    cursor: pointer;
    font-family:fantasy;
    letter-spacing: 2px;
    background-color: aqua;
    
}
.editbutton:hover {
    background-color:rgb(255, 255, 255);
}
.backgroundsp {
    background-color: rgb(81, 212, 212);
}
.savebutton {
    margin-top:10vh;
    margin-left:85vh;
    font-size:20px;
    cursor: pointer;
    font-family:fantasy;
    letter-spacing: 2px;
    position:fixed;
    font-size: 3vh;
    background-color: aqua;
}
.savebutton:hover {
    background-color: rgb(255, 255, 255);
}
.cancelbutton {
    font-size:20px;
    cursor: pointer;
    margin-left:110vh;
    margin-top:10vh;
    font-family:fantasy;
    font-size: 3vh;
    letter-spacing: 2px;
    position:fixed;
    background-color: aqua;
}
.cancelbutton:hover {
    background-color: rgb(255, 255, 255);
}

.backbutton {
    margin-left:50vh;
    margin-top:20vh;
    margin-bottom:5vh;
    position: relative;
    font-size:3vh;
    border:2px solid rgb(0, 0, 0);
    cursor: pointer;
    font-family:fantasy;
    letter-spacing: 2px;
    background-color: aqua;
}
.backbutton:hover {
    background-color: rgb(255, 255, 255);
}
tr:hover {
    background-color: rgb(255, 255, 255);
}
#table {
    margin-top:25vh;
    border:solid black;
    border-collapse: collapse;
    margin: 12% 0.5% 0% 0.5%;
    position:unset;
    height:40%;
    text-align:center;
    width:99%;
}
#table1 {
    border:solid black;
    border-collapse: collapse;
    margin: 10% 0.5% 0% 0%;
    position:absolute;
    height:20%;
    text-align:center;
    width:99%;
}
td {
    font-family:monospace;
    font-weight: bold;
    height:7vh;
}
th {
    background-color: rgb(134, 222, 254);
    height:8vh;
}
tr:nth-child(odd) {
    background-color: rgb(243, 232, 105);
}
tr:nth-child(even) {
    background-color:rgb(233, 233, 233);
}
.BackgroundFinal {
    background-color: aqua;
}
