@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

input {
  caret-color: red;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  font-family: poppins;
  border: 30px;
  border-color: antiquewhite;
  border-radius: 100px;

}
.form1 {
    height: 650px;
    width: 350px;
    background-image: url(back.jpg);
    margin: 100px ;
    border-radius: 30px;
    color: #666;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, .25);
    bottom: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 17px;
}
.heading{
    color: plum;
    font-family: cursive;
    font-weight: 600px;
    font-size: xx-large;
    text-shadow: 2px 2px 3px rgb(152, 36, 206);
}
.accept{
    color: #666;
    background-color: #ffbdc7;
    border: none;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 600;
    padding: 12px 32px;
    width: 200px;
    margin: 20px auto 0px auto; 
    float:left;
    margin-top: 20px;
    margin-left: 185px;
}
.regret{
    color: #666;
    background-color: #ffbdc7;
    border: none;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 600;
    padding: 12px 32px;
    width: 200px;
    margin: 20px auto 0px auto; 
    float:right;
    margin-right:168px;
    margin-top:-46px;
}
button:hover {
    background-color: #cc919a;
    transition: .5s;
}
#fname{
    margin-left: 78px;
}
#lname{
    margin-left: 78px;

}
#mobilenumber{
    margin-left: 35px;

}
#dob{
    margin-left: 120px;
}
#Gender{
    margin-left: 205px;
}
#email{
    margin-left: 110px;
}
#website{
    margin-left: 90px;
}
#Groups{
    margin-left: 170px;
}
#messager{
    margin-left:60px;
}
#state{
    margin-left: 180px;
}
#address{
    margin-left: 94px;
}
#work{
    margin-left: 85px;
}
.value:hover{
    scale:131%;
    background-color: #ffbdc7;
}
.value{
    border-radius: 12px;
    border-color: aliceblue;
}
