body
{
    background-image:linear-gradient(rgba(6, 6, 165,0.7),black);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
img
{
    position: relative;
    top: 32px;
    border-radius: 50px;
    box-shadow: 0px 2px 3px 4px;
}
h1
{
    text-align: center;
    position: relative;
    background-color: rgb(151, 244, 244);
    box-shadow: 0px 2px 3px 4px rgb(107, 197, 228);
    padding: 1% 0% 4% 0%;
    border-radius: 30px;
    color:rgb(13, 117, 130);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}
.img1
{
    margin-right: 5%;
    width: 5.4%;
}
.img2
{
    margin-left: 5%;
    width: 5.4%;
}
span
{
    color: antiquewhite;
    position: relative;
    font-size: x-large;
}
.mar1
{
    color: burlywood;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}
.mar2
{
    color: rgb(251, 77, 77);
    font-size: larger;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
}
#but
{
    float: right;
    margin: 0% 10% 0% 0%;
    background-color: aqua;
    color: rgb(63, 98, 86);
    width: 5%;
    padding: 0.5% 0% 0.5% 0%;
}
#but:hover
{
    background-color: rgb(135, 101, 170);
    color: darkkhaki;
}
#submit
{
    background-color: darkgrey;
    color: rgb(67, 67, 63);
}
#submit:hover
{
    background-color: chartreuse;
    color: rgb(99, 142, 179);
}
.login
{
    position: relative;
    top: 70px;
    padding: 10% 0% 10% 0%;
    margin: 0% 39% 0% 39%;
    text-align: center;
    color: rgb(230, 245, 245);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    background-color: rgb(181, 199, 214);
    border-radius: 15%;
}
.login:hover
{
    box-shadow: 8px 6px 0px 5px;
    transform: scale(1.06);
}
.signin
{
    border-style: none;
    background-color: rgb(181, 199, 214);
    font-size: large;
    margin-bottom: 15%;
}
.sign
{
    font-size: 72.6%;
    border-style: none;
    background-color: rgb(181, 199, 214);
}
.signin:hover
{
    color: aqua;
}
.sign:hover
{
    color: aqua;
}
.user
{
    background: none;
    border: none;
    border-bottom: 2px solid rgb(80, 129, 228);
}
.pass
{
    background: none;
    border: none;
    border-bottom: 2px solid rgb(80, 129, 228);
}
.log label
{
    color: rgb(22, 176, 176);
}
.log
{
    position: relative;
    top: 70px;
    padding: 6% 1% 6% 1%;
    margin: 0% 39% 0% 39%;
    text-align: center;
    color: rgb(230, 245, 245);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    background-color: rgb(181, 199, 214);
    border-radius: 15%;
}
.log:hover
{
    box-shadow: 2px 0px 3px 6px;
    transform: scale(1.05);
}
.firstname
{
 margin-right: 17%;
}
.lastname
{
 margin-right: 17%;
}
.email
{
 margin-right: 23%;
}
.password
{
 margin-right: 18%;
}

